<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "errores") %> <%= t('team.forbidden_save') %></h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('team.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label t('team.principal_position') %>
    <%= form.text_field :principal_position %>
  </div>

  <div class="field">
    <%= form.label t('team.start_date') %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label t('team.end_date') %>
    <%= form.date_field :end_date %>
  </div>

  <div class="actions">
    <%= form.submit t('team.send_button'), { class: 'btn' } %>
  </div>
<% end %>
