<div class='container'>
  <div class='row'>
    <div class='col s12 m6 l12 '> 

    <h1><%= t('team.information_add') %></h1>

    <p id="notice"><%= notice %></p>

    <p>
      <strong><%= t('team.name') %></strong>
      <%= @team.name %>
    </p>

    <p>
      <strong><%= t('team.principal_position') %></strong>
      <%= @team.principal_position %>
    </p>

    <p>
      <strong><%= t('team.start_date') %></strong>
      <%= @team.start_date %>
    </p>

    <p>
      <strong><%= t('team.end_date') %></strong>
      <%= @team.end_date %>
    </p>

    <%= link_to t('team.edit'), edit_team_path(@team) %> |
    <%= link_to t('team.back'), teams_path %>

    </div>
  </div>
</div>