<div class="slider">
  <ul class="slides">
    <li class='slider-li'>
       <%= link_to image_tag('homepage.jpg') %>
      <div class="caption center-align">
        <h3 class='title-banner-uno'><%= t('banner.title') %></h3>
        <h5 class="light grey-text text-lighten-3"><%= t('banner.more-information') %></h5>
      </div>
    </li>
    <li class='slider-li'>
      <%= link_to image_tag('banner.jpeg') %>
      <div class="caption left-align">
        <h2 class='title-banner-dos'><%= t('banner.title-dos') %></h2>
      </div>
    </li>
  </ul>
</div>
