<div class="slider">
  <ul class="slides">
    <li class='slider-li'>
       <%= image_tag('homepage') %>
      <div class="caption center-align">
        <h3 class='title-banner-uno'><%= t('banner.title') %></h3>
        <p class="subtitle-banner-uno"><%= t('banner.more-information') %></p>
      </div>
    </li>
    <li class='slider-li'>
      <%= image_tag('banner') %>
      <div class="caption left-align">
        <h2 class='title-banner-dos'><%= t('banner.title-dos') %></h2>
      </div>
    </li>
  </ul>
</div>
