<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"> <%= t('footer.content') %> </h5>
        <p class="grey-text text-lighten-4"> <%= t('footer.motto') %> </p>
        <%= link_to image_tag('mh_logo.png', width: 100, height: 100), class: 'brand-logo' %>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"> <%= t('about_us') %> </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!"> <%= t('footer.especial_visitation') %> </a></li>
          <li><a class="grey-text text-lighten-3" href="#!"> <%= t('footer.sponsor') %> </a></li>
          <li><a class="grey-text text-lighten-3" href="#!"> <%= t('footer.our_red') %> </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
      <div class="container">
      <%= t('footer.rights') %>
      <a class="grey-text text-lighten-4 right" href="#!"> <%= t('footer.more_links') %> </a>
    </div>
  </div>  
</footer>
