<nav>
  <div class="nav-wrapper navbar grey darken-4">
    <%= link_to image_tag("finden.png", alt: "Image Description", class: "logo-nav"), root_path, class:'main-navigation-logo' %> 
    <a href="#" data-target="mobile-demo"  class="sidenav-trigger"><i class="inline-icon material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to t('header.about_us'), pages_about_path %></li>
      <li><%= link_to t('header.faq'), pages_faq_path %></li>
      <li><%= link_to t('header.contact'), pages_contact_path %></a></li>
      <% if user_signed_in? %>
        <li><a>Logged in as <strong><%= current_user.email %></strong>.</li></a>
        <li><a><%= link_to t('header.edit_profile'), edit_user_registration_path, class: 'navbar-link' %> |</li></a>
        <li><a><%= link_to t('header.sign_out'), destroy_user_session_path, method: :delete, class: 'navbar-link'  %></li></a>
      <% else %>
        <li><a><%= link_to t('header.sign_up'), new_user_registration_path, class: 'navbar-link'  %> |</li></a>
        <li><a><%= link_to t('header.log_in'), new_user_session_path, class: 'navbar-link'  %></li></a>
      <% end %>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li> | <%= link_to t('header.about_us'), pages_about_path %></li>
  <li><%= link_to t('header.faq'), pages_faq_path %></li>
  <li><%= link_to t('header.contact'), pages_contact_path %></li>
  <div class='session-container'>
    <% if user_signed_in? %>
      <li>Logged in as <strong><%= current_user.email %></strong>.</li>
      <li><%= link_to t('header.edit_profile'), edit_user_registration_path, class: 'navbar-link' %> |</li>
      <li><%= link_to t('header.sign_out'), destroy_user_session_path, method: :delete, class: 'navbar-link'  %></li>
    <% else %>
      <li><%= link_to t('header.sign_up'), new_user_registration_path, class: 'navbar-link '  %></li>
      <li><%= link_to t('header.log_in'), new_user_session_path, class: 'navbar-link'  %></li>
    <% end %>
  </div>
</ul>
