<%= form_with model: @personal do |f| %>

  <div class="container">
    <div class="card-panel">
      <div class="settings-personal">
        <div class="row">
          <form class="col s12 m12 l12">

            <div class="row">
              <div class="row-name col s12">
                <div class="input-field col s12 m6">
                  <input id="first_name" type="text" class="validate">
                  <%= f.label :first_name %>
                </div>
                <div class="input-field col s12 m6">
                  <input id="last_name" type="text" class="validate">
                  <%= f.label :last_name %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="row-name col s12">
                <div class="input-field col s12 m6">
                  <input id="country" type="text" class="validate">
                  <%= f.label :country %>
                </div>
                <div class="input-field col s12 m6">
                  <input id="state" type="text" class="validate">
                  <%= f.label :state %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="row-name col s12">
                <div class="input-field col s12 m6">
                  <input id="city" type="text" class="validate">
                  <%= f.label :city %>
                </div>
                <div class="input-field col s12 m6">
                  <input id="nationality" type="text" class="validate">
                  <%= f.label :nationality %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="row-asd col s12">
                <div class="col s12 m6">
                  <%= f.label :date %>
                  <input type="date" class="datepicker">
                </div>
                <div class="col s12 m6">
                  <%= f.label :gender %>
                  <select class="browser-default">
                    <option value="" disabled="" selected=""> Gender </option>
                    <option value="1"> Male </option>
                    <option value="2"> Female </option>
                    <option value="3"> Rather not say </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.submit "Submit", class: "btn waves-effect waves-light right" %>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
