 <%= link_to 'Imprimir pdf', visorium_print_list_pdf_path(format: 'pdf') %>
 <table>
	<thead>
		<tr>
			<th><%= 'Nombre' %></th>
			<th><%= 'Lugar de nacimiento' %></th>
			<th><%= 'Fecha de nacimiento' %></th>
			<th><%= 'peso' %></th>
			<th><%= 'estatura' %></th>
			<th><%= 'genero' %></th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @list_assist.each do |list_assist| %>
			<tr>
				<td><%= list_assist.information_personal.name %></td>
				<td><%= list_assist.information_personal.birth_place %></td>
				<td><%= list_assist.information_personal.born_date %></td>
				<td><%= list_assist.information_personal.weight %></td>
				<td><%= list_assist.information_personal.height %></td>
				<td><%= list_assist.information_personal.gender %></td>
			</tr>
		<% end %>
	</tbody>
</table>