<div class='image-content'>
  <div class='row'>
    <h3 class='hero-title title-faqs'><%= t('faq.title') %></h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <p class='question'><%= t('faq.first_question') %></p>
      <p class='answer'><%= t('faq.first_answer') %></p>
    </div>
    <div class="col s12 m6">
      <p class='question'><%= t('faq.second_question') %></p>
      <p class='answer'><%= t('faq.second_answer') %></p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <p class='question'><%= t('faq.third_question') %></p>
      <p class='answer'><%= t('faq.third_answer') %></p>
    </div>
    <div class="col s12 m6">
      <p class='question'><%= t('faq.fourth_question') %></p>
      <p class='answer'><%= t('faq.fourth_answer') %></p>
    </div>
  </div>
  <div class="row">
  <div class="col s12 m6">
      <p class='question'><%= t('faq.fiveth_question') %></p>
      <p class='answer'><%= t('faq.fiveth_answer') %></p>
    </div>
  </div>
</div>