<div class='container'>
<div class='row'>
<div id='form_team' class='col s12 m6 l12 '> 

<p id="notice"><%= notice %></p>

<h1><%= t('contractual.contractual') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('contractual.player_type') %></th>
      <th><%= t('contractual.agent') %></th>
      <th><%= t('contractual.nui') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contractuals.each do |contractual| %>
      <tr>
        <td><%= contractual.player_type %></td>
        <td><%= contractual.agent %></td>
        <td><%= contractual.nui %></td>
        <td><%= link_to t('contractual.show'), contractual %></td>
        <td><%= link_to t('contractual.edit'), edit_contractual_path(contractual) %></td>
        <td><%= link_to t('contractual.button_destroy'), contractual, method: :delete, data: { confirm: t('contractual.alert_message') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('contractual.new_contractual'), new_contractual_path, { :class => 'btn'}  %>

</div>
</div>
</div>
