<!DOCTYPE html>
<html>
  <head>
    <title> Finden </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'finden_icon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  
  <body>
  <%= render partial: 'welcome/header' %>
   <% if notice %>  
    <script>toastr.success('<%= notice %>', 'FINDEN ')</script>
  <% end %>

  <% if alert %>
    <script>toastr.error('<%= alert %>', 'FINDEN ')</script>
  <% end %>

  <%= yield %>
  <%= render partial: 'welcome/footer' %>
  </body>
</html>
